@import '../variables.css';

.sidebar {
  width: var(--nav-width);
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  background: transparent;
  display: flex;
  flex: 1;
  /*background: var(--brand-primary);*/
  transition: all 0.4s ease-in-out;
  & .sidenavOuter {
    margin-top: 80px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex: 1;
    flex-direction: column;
    & :global(ul) {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 0;
      margin: 0;
      & :global(li) {
        & :global(a) {
          display: block;
          padding: 10px 10px 0;
          color: #FFF;
          text-decoration: none;
          & :global(div:nth-child(1)) {
            margin-right: 20px;
            margin-left: 10px;
            width: 40px;
            height: 40px;
            display: inline-block;
            border: 2px solid #FFF;
            & img {
              max-height: 30px;
              padding-top: 10px;
              display: block;
              margin: auto;
            }
          }
          & :global(span:nth-child(2)) {
            font-size: 16px;
            vertical-align: top;
          }
          &:hover {
            background: color(var(--brand-primary) lightness(1%));
            transition: 0.5s;
          }
        }
      }
    }
    & .navbarLangSwitch {
      padding: 0 0 20px 20px;
      display: flex;
      justify-content: space-between;
      & a {
        cursor: pointer;
        margin-right: 15px;
        &:hover {
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
}
@media screen and (max-width:768px) {
  .sidebar {
    left: -235px;
  }
  :global(.push-right) {
    & .sidebar {
      left: 0;
    }
  }
}
