:global {
  .pac-container {
    z-index: 1060!important;
  }
  .bg-gray-light {
    background-color: #ffffff;
  }
  .animated {
    -moz-transition: background-color 0.8s 0.1s ease;
    -o-transition: background-color 0.8s 0.1s ease;
    -webkit-transition: background-color 0.8s 0.1s ease;
  }
  .padding1520 {
    padding: 15px 20px 0 20px;
  }
  a:hover, a:active, a:focus {
    outline: none;
    text-decoration: none;
  }
  .info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-bottom: 15px;
    color: #ffffff;
    &.bg-aqua {
       background-color: #00c0ef;
    }
    &.bg-yellow {
       background-color: #f39c12;
    }
    &.bg-red {
       background-color: #dd4b39;
    }
    &.bg-green {
       background-color: #00a65a;
    }
  }
  .info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
  }
  .info-box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    font-weight: 100;
  }
  .info-box-number {
    display: block;
    font-weight: bold;
    font-size: 18px;
    word-wrap: break-word;
  }
  .chat-item {
    padding: 15px 20px;
    border-bottom: 1px dashed #e5e5e5;
    &:last-child {
      border-bottom: none;
    }
    & .media-object {
      max-height: 50px;
      max-width: 50px;
    }
    & .media-body {
      font-weight: 100;
      font-size: 12px;
      line-height: 1.5;
      & h4 {
        font-size: 15px;
        color: #181b2b;
        & .text-muted {
          font-weight: 100;
          font-size: 10px;
          padding: 3px 10px;
        }
      }
    }
  }
}

.dashboardWrap {
& .infoBoxIcon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0, 0, 0, 0.2);
  }
& :global{
  .table {
    font-size: 12px;
  }
  .panel-heading a {
    color: #FFFFFF;
    i {
      padding-left: 5px;
    }
    &:hover {
       color: #FFFFFF;
      i {
        margin-right: -3px;
        padding-left: 8px;
        transition: 0.3s;
      }
    }
  }
}
.pieWrap {
  display: flex;
  flex: 1 1 0;
  flex-direction: row;
.legendWrap {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
& .legendItem {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
}
& .greenText {
    color: #00a65a;
  }
& .redText {
    color: #dd4b39;
  }
}
