.updateTrip {
  & :global(.form-control) {
    box-shadow: none;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid #ccc;
  }
  & :global(textarea) {
    text-align: justify;
  }
  & :global(.btn-rounded) {
    width: 100px;
  }
}

/*FormControl {
  box-shadow: none;
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid #ccc;
  background-color: yellow;
}
.custome {
  background-color: blue;
}*/
