@import '../variables.css';

.sidebar {
  width: var(--nav-width);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: var(--brand-primary);
  transition: all 0.2s ease-in-out;
  & .sidenavOuter {
    position: absolute;
    top:50px;
    bottom:0;
    left:0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    border-top: 1px solid rgba(255,255,255,0.1);
    & :global(ul) {
      padding: 0;
      margin: 0;
      & :global(li) {
        display: block;
        & :global(a),
        & .sideBarItem {
          border: none;
          background-color: inherit;
          display: block;
          padding: 7px 10px 10px;
          color: #FFF;
          text-decoration: none;
          width: 100%;
          text-align: left;
          & :global(span:nth-child(1)) {
            border: 1px solid #FFF;
            padding:8px 10px;
            margin-right: 20px;
            margin-left: 10px;
          }
          & :global(span:nth-child(2)) {
            font-size: 16px;
          }
          &:hover {
            background: color(var(--brand-primary) lightness(1%));
          }
        }
        & :global(div) {
            border: none;
            margin-bottom: 0;
            div > div {
            padding: 0;
            background: var(--brand-primary);
            & :global(span.title) {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width:768px) {
  .sidebar {
    left: -235px;
  }
  :global(.push-right) {
    & .sidebar {
      left: 0;
    }
  }
}
