.carDetails {
  & .carHeader {
    border: 1px solid #DDD;
    margin-bottom: 15px;
    & :global(.media-left) {
      vertical-align: middle;
    }
    & :global(.media-body) {
      vertical-align: middle;
    }
  }
  & :global(.media) {
    & :global(.media-body) {
      vertical-align: middle;
    }
  }
  & :global(.panel-heading) {
    font-size: 18px;
  }
  & :global(.color-orange) {
    color: #e56811;
    margin-right: -3px;
  }
  & :global(.fs-22) {
    font-size: 22px !important;
  }
  & :global(hr) {
    margin: 5px 0;
  }
}
