.updateTrip {
  & :global(.form-control) {
    box-shadow: none;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid #ccc;
  }
  & :global(textarea) {
    text-align: justify;
  }
  & :global(.btn-rounded) {
    width: 100px;
  }
& :global(.newBooking) {
    border: 1px solid green;
  }
}

:global {
  .padding1520 {
    padding: 15px 20px 0 20px;
  }
  a:hover, a:active, a:focus {
    outline: none;
    text-decoration: none;
  }
  .info-box {
    display: block;
    min-height: 50px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-bottom: 15px;
    color: #ffffff;
    &.bg-aqua {
       background-color: #00c0ef;
    }
    &.bg-yellow {
       background-color: #f39c12;
    }
    &.bg-red {
       background-color: #dd4b39;
    }
    &.bg-green {
       background-color: #00a65a;
    }
  }
  .info-box-content {
    padding: 5px 10px;
    margin-left: 50px;
  }
  .info-box-text {
    display: block;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    font-weight: 100;
  }
  .info-box-number {
    display: block;
    font-weight: bold;
    font-size: 16px;
    word-wrap: break-word;
  }
  .infoBoxIcon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    background: rgba(0, 0, 0, 0.2);
  }
}

/*FormControl {
  box-shadow: none;
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid #ccc;
  background-color: yellow;
}
.custome {
  background-color: blue;
}*/
