@import '../variables.css';

:root {
  --brand-color: #61dafb;
}

.root {
  background: transparent;
  color: #fff;
}

.brandTxt {
  margin-left: 10px;
}

.nav {
  float: right;
  margin-top: 6px;
}

.banner {
  text-align: center;
}

.bannerTitle {
  margin: 0;
  padding: 10px;
  font-weight: normal;
  font-size: 4em;
  line-height: 1em;
}

.bannerDesc {
  padding: 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.25em;
  margin: 0;
}



.topNavbar {
  background: transparent;
  border-radius: 0;
  border: none;

  & .navbarHeader {
    width: var(--nav-width);
    background: transparent;
    & .navbarBrand {
      display: block;
      color: #d6ebf8;
      float: none;
      &:hover {
        color: #ecf6fc;
      }
    }
    & :global(.navbar-toggle) {
      float: left;
      margin: 22px 0 0 18px;
      & :global(span.icon-bar) {
        background: #fff;
      }
    }
  }


  & .navbarCollapse {
    background-color: transparent;
    border-bottom: solid 1px rgba(0, 0, 0, 0.05);
    height: 50px !important;
    border: solid 1px rgba(0, 0, 0, 0.1);
  }

  & .navbarForm {
    padding-left: 15px;

    & .glyphiconStyle {
      opacity: 0.7;
    }

    & .formControl {
      width: 40px;
      border-radius: 0;
      outline: none;
      padding: 2px 22px;
      border: none;
      margin-left: -20px;
      border-bottom: 1px solid color(var(--brand-primary) 10%);
      background: inherit;
      box-shadow: none;
      opacity: 0.7;
      transition: all .2s linear;
      &:focus {
        width: 200px;
        opacity: 1;
      }
    }
  }

  & .navbarRightSection {
    position: absolute;
    margin: 0;
    right: 20px;
    top: 25px;
    align-items: center;
    display: flex;
    flex: 1;
    & .navbarLangSwitch a {
      font-size: 16px;
      cursor: pointer;
      margin-right: 15px;
      &:hover {
        color: #ffffff;
        text-decoration: none;
      }
    }
    & .ulNavbar {
      border: 1px solid var(--brand-black);
      padding: 2px 35px;
      font-size: 16px;
      &:hover {
       color: var(--brand-black);
       text-decoration: none;
      }
    }
  }
}
.cabdoLogo {
  width: 200px;
  height: 100px;
  margin-left: 235px;
  & img {
    padding: 10px 0;
    max-width: 100%;
  }
  & span {
    position: absolute;
    top: 48px;
    left: 385px;
    color: #fff;
  }
}
.btnStyle {
  margin: 8px 10px;
  border-color: var(--brand-primary);
  color: var(--brand-primary);
  border-radius: 50px;
  background: #FFFFFF;
  border-width: 2px;
  &:hover {
    background: var(--brand-primary);
    border-color: var(--brand-primary);
  }
}


.hidd {
  display: none;
}

@media only screen and (max-width: 856px) {
  .buyButton {
    display: none;
  }
}
