.userDetails {
  & .tripHeader {
    border: 1px solid #DDD;
    margin-bottom: 15px;
    & :global(.media-left) {
      vertical-align: middle;
    }
    & :global(.media-body) {
      vertical-align: middle;
    }
  }
  & :global(.media) {
    margin-top: 10px;
    & :global(.media-body) {
      vertical-align: middle;
    }
  }
  & :global(.panel-heading) {
    font-size: 18px;
  }
  & :global(.color-orange) {
    color: #e56811;
    margin-right: -3px;
  }
  & :global(.fs-22) {
    font-size: 22px !important;
  }
  & :global(hr) {
    margin: 5px 0;
  }

  & .tripBody {
    border: 1px solid #efefef;
    padding: 5px;
    margin: 0;
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
    & .calendar {
      width: 50px;
      border: 1px solid #DDD;
      text-align: center;
      border-radius: 4px;
      & div:nth-child(1) {
        background: gray;
        color: #FFF;
        font-size: 12px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }
      & div:nth-child(2) {
        font-size: 20px;
        background: #FFF;
        color: #000;
      }
      & div:nth-child(3) {
        font-size: 14px;
        background: #FFF;
        color: #000;
        border-radius: 4px;
      }
    }
    & .startTime {
      & .location {
        font-weight: 700;
        font-size: 16px;
        margin: 5px 0;
      }
    }
    & .totalTime {
      & :global(.glyphicon) {
        margin-top: 5px;
        font-size: 22px;
      }
    }
    & .endTime  {
      & .location {
        font-weight: 700;
        font-size: 16px;
        margin: 5px 0;
      }
    }
  }
  & .driverDetails {
    & p {
      font-size: 1.143em;;
    }
  }
  & .tripTable {
    width: 100%;
    margin-bottom: 10px;
    & td {
      border: none;
      color: #666;
      font-size: 1.143em;
      padding: 5px 10px;
    }
    & :global(.text-right) {
      & strong {
        color: #000;
      }
    }
  }
}
