.trips {
  & :global(.pagination) {
    margin: 0!important;
  }

  & :global(.table th) {
    border-top: none!important;
  }
  .activeTripWrapper {
    color: #000;
    border: 0;
    box-shadow: none;
    & .activeTripItem:nth-child(even) {
      background: #eee;
    }
    & .activeTripItem {
      padding: 15px;
      display: flex;
      flex: 1;
      flex-direction: row;
      & .tripFigureWrapper {
        display: flex;
        flex: 2;
        flex-direction: column;
        & .tripFigure {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 20px;
          & .destIcons {
            height: 22px;
            width: auto;
          }
          & .sideDashedLines {
            border-bottom: 1.5px dotted #000;
            align-self: center;
            flex: 2;
            margin: 20px 5px 0;
          }
          & .carIcon {
            transform: scaleX(-1);
            -webkit-filter: brightness(90%) contrast(90%);
            filter: brightness(90%) contrast(90%);
            width: 65px;
            height: 100%;
          }
        }
      }
      & .mainTripInfo {
        display: flex;
        flex-direction: column;
        flex: 1;
        list-style-type: none;
        & li {
          border: 1px solid #777777;
          height: 32px;
          overflow: hidden;
          margin: 5px 0;
          box-sizing: content-box;
          background: #fff;
          & .iconWrapper {
            border-right: 1px solid #777777;
            width: 42px;
            height: 32px;
            display: inline-block;
            margin: 0;
            background: #eee;
            box-sizing: content-box;
            & img {
              height: 100%;
              width: 100%;
              padding: 7px;
              object-fit: contain;
            }
          }
          & span {
            text-overflow: ellipsis;
            padding-left: 5px;
          }
        }
      }
    }
  }
  & .restTripInfo {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 0 20px;
    & .restTripIfoItem {
      span {
        font-weight: 600;
      }
    }
  }
  & .customTitle {
    color: #fff;
    background: #000;
  }
  & .borderNone {
    border: 0;
    box-shadow: none;
  }
  @media(max-width: 767px) {
    .activeTripWrapper {
      & .activeTripItem {
        & .mainTripInfo {
          flex: 2;
        }
      }
    }
  }
}




