@import '../../components/variables.css';

.loginPage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: #000 url('../../common/images/background.png') repeat-x;
  background-size: cover;
  color: #000;
  & .loginForm {
    height: auto;
    width: 480px;
    padding: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -240px;
    margin-top: -287.5px;
    text-align: center;
    background: #fff;
    border: 3px solid rgba(0,0,0,0.1);
    & .userAvatar {
      height: 180px;
      width: 180px;
      margin: auto;
      border-radius: 50%;
      background: #000;
      & img {
        height: 100px;
        max-width: 100%;
        line-height: 200px;
        margin: 50px auto;
      }
    }
  }
  & h1 {
    font-weight: 300;
    font-size: 30px;
    margin: 20px 0;
  }
  & :global(.form-group) {
      padding: 8px 0;
  }
  & .formContent {
      padding-top: 20px;
      padding-bottom: 10px;
  }
  & .inputStyle {
    background: none;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    color: #000;
    border-radius: 0;
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    &::placeholder {
     color: #999999;
    }
    &:focus {
     border-bottom: 2px solid #000;
     box-shadow: none;
    }
  }
  & .imprintLinkWrap {
      margin: 50px auto -30px;
  }
  & .imprintLink {
    color: rgba(0, 0, 0, 0.8);
    &:hover {
     color: #000;
     text-decoration: none;
   }
  }
  & .btn {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.8) inset;
    background: none;
    border-color: transparent;
    font-weight: 400;
    text-transform: none;
    font-size: 18px;
    line-height: 45px;
    padding: 0 25px;
    color: color(#000 a(80%));
    &:hover, &:focus {
      box-shadow: 0 0 0 2px #000 inset;
      color: #000;
      background: none;
      outline: none;
    }
    & :global(.progress .progress-inner) {
      background: color(var(--brand-primary) lightness(40%));
    }
  }
  @media(max-width: 480px) {
  & .loginForm {
    width: 100vw;
    height: 100vh;
    max-width: 480px;
    padding: 25px;
    position: static;
    top: auto;
    left: auto;
    right:auto;
    bottom:auto;
    margin-left: 0;
    margin-top: 0;
  }
  & .imprintLinkWrap {
      margin: 25px auto 0;
    }
  }
}
