@media (min-width: 990px) {
  .fullHeight-md {
    height: 640px;
  }
}

@media (max-width: 990px) {
  .fixedHeight-xs {
    height: 640px;
  }
}

.start-trip {
  & :global(.rdtCounter) {
    margin-top: 0!important;
  }

  & :global(td.rdtTimeToggle),
  & :global(.rdtTime th.rdtSwitch) {
      background-color: #000;
      color: #fff;
      &:hover {
        background-color: #000;
      }
    }

  & :global(label[type='button'].active) {
    font-weight: bold;
      opacity: 1;
    }

  & :global(label[type='button']) {
    opacity: .7;
    & img {
      -webkit-filter: brightness(90%) contrast(90%);
      filter: brightness(90%) contrast(90%);
    }
  }

  & :global(.btn-toolbar .btn-group) {
    margin-top: 0!important;
  }
/*
  & :global(.list-group .list-group-item.black) {
    background-color: #181B2B;
    color: #fff;
  }

  & :global(.list-group) {
    margin: 0!important;
  }*/

  & :global(.rdtPicker) {
    bottom: 0;
    border-color: #ccc;
  }
  & .taxiWrapper {
    position: relative;
    min-width: 105px;
    min-height: 100px;
    border-radius: 0px;
    display: block;
    -webkit-appearance: none;
    -webkit-border-radius:0px;
    }
  & .taxiType {
    margin: 0px;
    font-size: 15px;
  }
  & .taxiCapacity {
    margin: 0px;
    font-size: 12px;
  }
  & .defaultFare {
    margin: 0px;
    font-size: 13px;
    padding: 2px 5px;
    color: white;
    background-color: #080808;
    border-radius: 5px;
  }
  & .fare {
    margin: 0px;
    font-size: 13px;
    padding: 2px 5px;
    color: white;
    background-color: #f0ad4e;
    border-radius: 5px;
  }

  & .customHeader {
    & :global(.panel-heading) {
      background: #000;
    }
  }

  .carIcons {
    height: 30px;
    padding: 5px;
  }

}
