.updateTrip {
  & :global(.form-control) {
    box-shadow: none;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid #ccc;
  }
  & :global(textarea) {
    text-align: justify;
  }
  & :global(.btn-rounded) {
    width: 100px;
  }
}
